<?xml version="1.0"?>

<model>
  <name>Unactuated Example</name>
  <version>1.0</version>
  <sdf version='1.5'>model.sdf</sdf>

  <author>
    <name>Jackie Kay</name>
    <email>jackie@osrfoundation.org</email>
  </author>

  <description>
    Two cylinders joined by a passive joint.
  </description>
</model>
