<?xml version="1.0"?>

<model>
  <name>Tricycle with spherical wheels</name>
  <version>1.0</version>
  <sdf version="1.6">model.sdf</sdf>

  <author>
    <name>Steve Peters</name>
    <email>scpeters@osrfoundation.org</email>
  </author>

  <description>
    A tricycle with spherical wheels
    and front-wheel steering.
  </description>
</model>
