<?xml version="1.0"?>

<model>
  <name>Actuator Example</name>
  <version>1.0</version>
  <sdf version='1.5'>model.sdf</sdf>

  <author>
    <name>Jackie Kay</name>
    <email>jackie@osrfoundation.org</email>
  </author>

  <description>
    Two cylinders joined by an actuated joint.
  </description>
</model>
