<?xml version="1.0"?>

<model>
  <name>cococan</name>
  <version>1.0</version>
  <sdf version="1.2">model-1_2.sdf</sdf>
  <sdf version="1.5">model-1_5.sdf</sdf>
  <sdf version="100.0">model-100.sdf</sdf>
  <author>
    <name>Testo</name>
    <email>testo@osrfoundation.org</email>
  </author>

  <description>
    A can of coco
  </description>
</model>
