<?xml version="1.0"?>

<model>
  <name>Tricycle with spherical wheels and plowing effect with nonlinear slip</name>
  <version>1.0</version>
  <sdf version="1.6">model.sdf</sdf>

  <author>
    <name>Steve Peters</name>
    <email>scpeters@osrfoundation.org</email>
  </author>

  <author>
    <name>Aditya Pande</name>
    <email>aditya.pande@openrobotics.org</email>
  </author>

  <description>
    A tricycle with spherical wheels and front-wheel steering.
    The first friction direction for each wheel is parallel to the joint axis
    for each wheel spin joint, which corresponds to the wheel's lateral
    direction.
    The plowing and nonlinear slip parameters are specified in the //collision/gz:plowing_wheel
    element for each wheel's sperical collision element.
  </description>
</model>
