<?xml version="1.0"?>

<model>
  <name>Triball fixed</name>
  <version>1.0</version>
  <sdf version="1.5">model.sdf</sdf>

  <author>
    <name>Steve Peters</name>
    <email>scpeters@osrfoundation.org</email>
  </author>

  <description>
    Triball: a triangle of spheres.
  </description>
</model>
