
# Desc: Player sample configuration file for controlling Gazebo devices
# Date: 18 Apr 2003

driver
(
  name "gazebo"
  provides ["simulation:0"]
  plugin "libgazebo_player"
  world_name "default"
)

driver
(
  name "gazebo"
  provides ["position2d:0"]
  model_name "pioneer2dx"
)

driver
(
  name "gazebo"
  provides ["laser:0"]
  laser_name "pioneer2dx::laser::base_laser"
)

driver
(
  name "gazebo"
  provides ["camera:0"]
  camera_name "pioneer2dx::camera::mono"
)
