<?xml version="1.0"?>
<model>
    <name>model_sdf_1_6</name>

    <version>0.1</version>
    <sdf version="1.6">model_sdf_1_6.sdf</sdf>

    <author>
        <name>Silvio Traversaro</name>
        <email>silvio.traversaro@iit.it</email>
    </author>

    <description>
    </description>
</model>
